# --- Basic options --- #

# Name of website
title: Eric's Blog

# Short description of your site
description: A personal blog about PowerBI, SQL and more.

# Your name to show in the footer
author: Eric Dong

# --- List of links in the navigation bar --- #

# List of links in the navigation bar
navbar-links:
  Blog: "http://funbiworld.com"
  Tags: "tags"
  About Me: "aboutme"  

# Image to show in the navigation bar - image must be a square (width = height)
# Remove this parameter if you don't want an image in the navbar

# avatar: "/img/avatar-icon.png"
future: true
# If you want to have an image logo in the top-left corner instead of the title text,
# then specify the following parameter
# title-img: /path/to/image

# --- Background colour/image options --- #

# Personalize the colors in your website. Colour values can be any valid CSS colour

navbar-col: "#F5F5F5"
navbar-text-col: "#404040"
navbar-children-col: "#F5F5F5"
page-col: "#FFFFFF"
link-col: "#008AFF"
hover-col: "#0085A1"
footer-col: "#F5F5F5"
footer-text-col: "#777777"
footer-link-col: "#404040"

# Alternatively, the navbar, footer, and page background can be set to use background images
# instead of colour

# navbar-img: "/img/bgimage.png"
# footer-img: "/img/bgimage.png"
# page-img: "/img/bgimage.png"

# --- Footer options --- #

  
# Select your active Social Network Links.
# Uncomment the links you want to show in the footer and add your information to each link.
# You can reorder the items to define the link order.
# If you want to add a new link that isn't here, you'll need to also edit the file _data/SocialNetworks.yml
social-network-links:  
  email: "eric.dong@outlook.com"
  #facebook:   # eg. daattali
  github: ciaeric
  #twitter:    # eg. daattali
  #reddit:     # eg. daattali
  #google-plus:    # eg. +DeanAttali or 109424658772469020925
  linkedin: eric1984
  #xing:       # eg. daattali
  #stackoverflow:   # eg. "3943160/daattali"
  #snapchat:   # eg. daattali
  #instagram:  # eg. daattali
  #youtube:    # eg. user/daattali or channel/daattali
  #spotify:    # eg. daattali
  #telephone:    # eg. +14159998888
  #steam:      # eg. daattali
  #twitch:     # eg. daattali
  #yelp:       # eg. daattali

# Select which links to show in the footer
#footer-links-active:
#  facebook: false
#  email: true
#  github: true
#  linkedin: true


# Select which share links to show in posts
share-links-active:
  twitter: true
  facebook: true
  google: false
  linkedin: true

# How to display the link to the website in the footer
# Remove this if you don't want a link in the footer
url-pretty: "FunBIWorld.com"  

# --- Comments --- #

# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
# disqus: ""

# To use Facebook Comments, fill in a Facebook App ID
# fb_comment_id: ""

# Staticman support
#staticman:
#  repository : "ciaeric/ciaeric.github.io"   # GitHub username/repository eg. "daattali/beautiful-jekyll"
#  branch     : "master" # eg. "master" If you're not using `master` branch, then you also need to update the `branch` parameter in `staticman.yml`
#  endpoint   : # URL of your own deployment (with trailing slash) (will fallback to a public GitLab instance)
#  reCaptcha:
    # reCaptcha for Staticman (OPTIONAL)
    # If you use reCaptcha, you must also set these parameters in staticman.yml
#    siteKey  : "6LcJE6sUAAAAAEuVtipSMwNexYjzOrn-0lqgWcK3" # Use your own site key, you need to apply for one on Google
#    secret   : "m/s4AiGCEDAbJVOA5VN8XSD/xsQwBz182NV69Q0Smh9XLaNmBcxa/0w8JpOPTFgPTGZbhIqqIrKOo3Go3dSWn3IElcXQJq37cwsHavnETBNNKzPTOioeX6XPoPP8qfUmOvSk0/hCVo6TLkxmt+Qd8YNv8NtZF9P4u9erP0SbDTN9gLBynh36IHyAONdKnHwduJtkXeqGj7P1uq0eUmwtsTCj6mieN4vknHiMzTezEYsCxl5aPck/pIiDMmx6PN/yRMcAZ5sAbqCjXNG/jeIffmRhXCJpVsNd7iRBCiqemOiEF6JJ2T/hHa4sFGDUNuVYm5ByF+5xBHdiglsET2nimA==" # ENCRYPT your password by going to https://staticman3.herokuapp.com/v3/encrypt/<your-site-secret>

# --- Misc --- #
# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
disqus: "eric412"

# Fill in your Google Analytics ID to track your website using GA
google_analytics: "UA-118264003-1"

# Google Tag Manager ID
#gtm: ""

# Facebook App ID
# fb_app_id: ""

# Excerpt Word Length
# Truncates the excerpt to the specified number of words on the index page
excerpt_length: 50

# Character used to separate site title and description in HTML document title
# and RSS feed title
title-separator: "-"

# --- Don't need to touch anything below here (but you can if you want) --- #

# Output options (more information on Jekyll's site)
timezone: "Australia/Brisbane"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true

# Use tags pages (not recommended if you are deploying via GitHub pages, only set to true if deploying locally with ruby)
link-tags: true


# Exclude these files from production site
exclude:
  - CHANGELOG.md
  - CNAME
  - Dockerfile
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - Vagrantfile



plugins:
  - jekyll-paginate
  - jekyll-sitemap

# Beautiful Jekyll / Dean Attali
# 2fc73a3a967e97599c9763d05e564189
